/* =============
    Header
============= */
#header{

    display: grid;
    grid-template-columns: 1fr;

    header{

        background-color: var(--#0000);
        color: var(--#FFFF);
        height: 100vh;
        width: 100%;

    }
}