#subhero{
    display: grid;
    grid-template-columns: 1fr;
aside{
    height: 85px;
    h1{
        background-color: white;
    img{width: 85px;}
    }
    img{
        width: 100%;
    }
}
aside.up{
    background-color: #B3E1EF;
}
aside.down{
    background-color: #CEBDE0;
}

}