/* =============
    Footer
============= */
#footer{
    display: grid;
    grid-template-columns: 1fr;

    header{

        background-color: var(--#0000);
        color: var(--#FFFF);
        width: 100%;
        height: 633px;
    }
}