/* =============
    Header
============= */
main{

    display: grid;
    grid-template-columns: 200px 200px 200px 200px;

    header{

        background-color: black;
        padding: 50 px;
    }
}